@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

header {
    height: 40px;
    width: 100%;
    background: tomato;
}

header #menu {
    float: right;
}

#content {
    margin: 0 auto;
    padding-top: 50px;
}

#timer-button {
    width: 500px;
    margin: 0 auto;
}

footer {
    padding-top: 50px;
}
